* {
    font-size: 16px;
    font-family: 'Josefin Slab', serif, arial;
    margin:0;
    padding:0;
}

body {
    background:#606060;
}
.wrapper{
    flex:1;

}
.wrapper-text{
  text-align: justify;
  text-align-last: left;
  background-color: #f8f3e6;
  color:black;
  padding: 20px 10px;
  margin: 0px 300px 75px 300px;
  border-radius: 10px;
  padding-bottom: 50px;
}
  .hot-topic{
  display:grid;
  }

.box1 {
  padding: 20px 10px;
  margin: 0px 100px 75px 100px;
  border-radius: 10px;
  padding-bottom: 50px;
  background:silver;
}
.box2 {

  width:100px;
  height: 50px;
  display: inline-block;
  background:silver;
}

/* playing with preview and iframes */
.blog-preview {
  
    overflow:hidden;
}
.wrapper-preview {
  /* display: flex;
  flex-direction: column; */ 
  display: grid;
    row-gap: 20px;
    column-gap: 20px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.wrapper-box a{

  /* text-decoration: none; */
  color:blue;

}





/* header/navbar */
.navbar {
    /* background: gray; /*image is PNG so gray background don't forget incase of better image*/
     /*background-image:url("../images/plants-border-png-1.png");*/
     background: linear-gradient(90deg, rgba(0,0,0,0.8) 0%, rgba(0,0,0,1) 50%, rgba(0,0,0,0.8) 100%);
    text-align: center;
    border-radius:10px; /*change when you got better border idea, image*/
    position: relative;
    padding: 20px 10px;
    margin: 0px 300px 0px 300px;


 }
 .navbar li {
    
    list-style-type: none;
    text-decoration: none;
    display: inline-block;
    margin: 0px 75px;
    
    background:black;
 
}

 .navbar li a {
     
     text-decoration: none;
     color:white;
     margin-top:12px; /*change for text margin top in header*/
     display:block;
 }
 .navbar li a:hover {
     
    color:grey;

     
 }

 .navbar .search-container button {
    padding: right;
    background: #ddd;
  }
  .navbar .search-container {
    float: right;
    
  }
  
  .navbar input[type=text] {
    padding: 6px;
    margin-top: 8px;
    font-size: 17px;
    border: none;
  }
  
  .navbar .search-container button {
    float: right;
    padding: 6px 10px;
    margin-top: 8px;
    margin-right: 16px;
    background: #ddd;
    font-size: 17px;
    border: none;
    cursor: pointer;
  }
/* footer */
.footer-bg{
  background-color: rgb(14, 14, 14);

}
.footer{
    background: linear-gradient(90deg, rgba(0,0,0,0.8) 0%, rgba(0,0,0,1) 50%, rgba(0,0,0,0.8) 100%);
    color:white;
    text-align:center;
    width: 100%;
    height: auto;            /* Footer height */
    overflow:hidden;
    position:absolute;
    min-height: 120px;   
    display: flex;
    justify-content: space-between;
    padding: 20px 0px;
    
    

}
.footer-rows {
  padding:0px 0px 0px 40px; /*the last 20px is to adjust footer*/
  display: flex;
  justify-content: space-between;
}
.footer-rows li{
list-style-type: none;
}
.footer-rows li a{
 color:blue;
  text-decoration:none;
}
.footer-rows2{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding:0px 40px 0px 0px;
}

.footer-info{
  display: flex;
  flex-direction: column;
  padding-right: 38px;
}

/*font-awesome-bootstrap fix for footer*/
.s-m{
    margin: auto;
    justify-content: space-around;
    display: flex;
    max-width: 175px; /*Change for the "inner-margin"*/
    font-size: 17.5px; /*change for smaller font icon as main logo-picture in the font awesome*/
    flex-direction: column;
  }
  .s-m a{
    text-decoration: none;
    color: #f1f1f1;
    width: 45px;
    height: 45px;
    text-align: center;
    transition: 0.4s all;
    line-height: 45px;
    cursor: pointer;
    background: #314652;
    border-radius: 50%;
    
  }